<p>Dear <%= recipientFirstName %>,</p>

<p><%= adminName %> has noticed that some of your contact details on your global profile on Humanitarian ID may need to be updated.</p>

<p>We suggest that you review your details to ensure that everything is up-to-date including your job title, organzation, group membership, phone number(s), email address(-es), and so on.</p>

<p>To review and update your details, simply login to Humanitarian ID (http://humanitarian.id/login) and view your global profile.</p>

<p>Accurate contact lists in humanitarian situations are of critical importance. As a self-managed approach to contact lists, we rely on members like yourself to help keep these lists up-to-date.</p>

<p>If you believe that this email was sent incorrectly or inappropriately, please let us know at info@humanitarian.id.</p>

<% include ../includes/footer_en %>

<hr />

<p>Bonjour <%= recipientFirstName %>,</p>

<p><%= adminName %> a remarqué que vos informations de contact de votre profil global sur Humanitarian ID ne sont plus à jour.</p>

<p>Nous vous proposons de vérifier que vos informations de contact (votre titre, organisation, abonnement à un groupe, numéro(s) de téléphone(s), adresses e-mails, etc) sont bien à jour.</p>

<p>Connectez-vous sur Humanitarian ID (http://humanitarian.id/login) pour vérifier et modifier votre profil global.</p>

<p>Il est très important que les listes de contacts humanitaires soient à jour. Notre approche envers les listes des contacts se fonde sur votre soutien personnel.</p>

<p>Si ce courriel ne vous concerne pas, n’hésitez pas à nous contacter à info@humanitarian.id.</p>

<% include ../includes/footer_fr %>
